<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ouc.mail.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="edu.ouc.mail.pojo.Cart" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="QUANTITY" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CHECKED" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, PRODUCT_ID, QUANTITY, CHECKED, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MAIL_CART
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MAIL_CART
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="edu.ouc.mail.pojo.Cart" >
    insert into MAIL_CART (ID, USER_ID, PRODUCT_ID, 
      QUANTITY, CHECKED, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{productId,jdbcType=DECIMAL}, 
      #{quantity,jdbcType=DECIMAL}, #{checked,jdbcType=DECIMAL}, sysdate,
      sysdate)
  </insert>
  <insert id="insertSelective" parameterType="edu.ouc.mail.pojo.Cart" >
    insert into MAIL_CART
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="checked != null" >
        CHECKED,
      </if>
      <if test="1 == 1" >
        CREATE_TIME,
      </if>
      <if test="1 == 1" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="checked != null" >
        #{checked,jdbcType=DECIMAL},
      </if>
      <if test="1 == 1" >
        sysdate,
      </if>
      <if test="1 == 1" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.ouc.mail.pojo.Cart" >
    update MAIL_CART
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="checked != null" >
        CHECKED = #{checked,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="1 == 1" >
        UPDATE_TIME = sysdate,
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.ouc.mail.pojo.Cart" >
    update MAIL_CART
    set USER_ID = #{userId,jdbcType=DECIMAL},
      PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      CHECKED = #{checked,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectByUserIdAndProductId" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM MAIL_CART
    WHERE product_id=#{productId} AND user_id=#{userId}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="long">
    SELECT
    <include refid="Base_Column_List"/>
    FROM MAIL_CART
    WHERE user_id=#{userId}
  </select>

  <select id="selectCartProductCheckedStatusByUserId" parameterType="long" resultType="int">
    SELECT COUNT(1)
    FROM MAIL_CART
    WHERE user_id=#{userId} and checked=0
  </select>

  <delete id="deleteByUserIdAndProductIds" parameterType="map">
    DELETE FROM MAIL_CART
    WHERE user_id=#{userId}
    <if test="productIdList != null">
      and product_id in
      <foreach collection="productIdList" item="item" open="(" close=")" separator="," index="index">
        #{item}
      </foreach>
    </if>
  </delete>

  <update id="setCheckedOrUnCheckedStatus" parameterType="map">
    UPDATE MAIL_CART SET checked=#{checked},update_time=sysdate
    where user_id=#{userId}
    <if test="productId != null">
      and product_id=#{productId}
    </if>
  </update>

  <select id="selectCartProductCount" parameterType="long" resultType="int">
    select nvl(sum(quantity),0) as count from MAIL_CART where user_id = #{userId}
  </select>









</mapper>